@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="login-form-bg h-100">
    <div class="container h-100">
        <div class="brand-logo mt-3">
            <span style="font-family:'Colonna MT';font:800; font-size:34px" class="pt-2 text-white text-wrap m-lg-1 m-md-0 ">Apperenticeship</span>

        </div>
    </div>
</div>