@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@using Apprenticeship2.Data.Entities
@using Apprenticeship2.Data.DTO
@model InserAssignmentDTO
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="form-validation">
                        <form enctype="multipart/form-data" method="post" class="form-valide" action="/Assignment/insertAssignment">
                            <h2>Add Assignment</h2>
                            <hr />
                            <input name="trainingID" value="@ViewBag.trainingID" hidden />

                            <div class="form-group row">
                                <label asp-for="assignmentTitle" class="col-lg-4 col-form-label">assignment Title</label>
                                <div class="col-lg-6">
                                <input asp-for="assignmentTitle" class="form-control" aria-required="true" />

                                <span asp-validation-for="assignmentTitle" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="AssignmentDescription" class="col-lg-4 col-form-label">Assignment Description</label>
                                <div class="col-lg-6">
                                <input asp-for="AssignmentDescription" class="form-control" aria-required="true" />

                                <span asp-validation-for="AssignmentDescription" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="assignmentNotes" class="col-lg-4 col-form-label">assignment Notes</label>
                                <div class="col-lg-6">
                                <input asp-for="assignmentNotes" class="form-control" aria-required="true" />

                                <span asp-validation-for="assignmentNotes" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="startDate" class="col-lg-4 col-form-label">Start Date</label>
                                <div class="col-lg-6">
                                <input asp-for="startDate" class="form-control" aria-required="true" />

                                <span asp-validation-for="startDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="endDate" class="col-lg-4 col-form-label">End Date</label>
                                <div class="col-lg-6">
                                <input asp-for="endDate" class="form-control" aria-required="true" />

                                <span asp-validation-for="endDate" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label asp-for="objectives" class="col-lg-4 col-form-label">Objectives</label>
                                <div class="col-lg-6">
                                    <select asp-for="objectives" class="form-control" id="val-skill" multiple>
                                    @foreach (var O in (List<TrainingObjectives>)ViewBag.objectives)
                                    {
                                        <option value="@O.objectiveId"> @O.objective.Name </option>

                                    }
                                </select>

                                <span asp-validation-for="objectives" class="text-danger"></span>
                                </div>
                            </div>
                            <div class="form-group row">
                                <!-- <form asp-for="upFile" class="form-control" enctype="multipart/form-data" method="post" action="/Assignment/UploadFile"> -->
                                <label class="col-lg-4 col-form-label">Upload Files</label>
                                <input type="file" name="upFiles" multiple id="formFileMultiple" class="form-control" />
                                <p asp-validation-for="upFiles" class="text-danger"></p>

                                <!-- </form>-->

                            </div>
                            <div class="form-group row">
                                <div class="col-lg-8 ml-auto">
                                    <button type="submit" class="btn btn-primary">Save</button>
                            </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
     </div>
</div>
